.row {

    align-self: center;
    width: 800px;

}

.card-bod {

    height: 260px;

    background-color: rgb(242, 235, 235);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}

.card img {

    height: 260px;
    width: 350px;
}

.beer-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}


.card-bod p {

    margin-left: 2px;
    font-weight: bold;
    font-size: 16px;
}

p {
    margin-top: 1;
    margin-bottom: 0;
}

.buttons {
    margin-top: 20px;
    display: flex;

    flex-direction: row;
    align-items: center;

    justify-content: space-around;
    width: 100%;
}

button:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 200, 1);
}

.btn-sm {
    padding: 0.15rem 0.2rem;
    font-size: 0.675rem;
}



.bili {
    margin-left: -10px;
}

.bili:hover {

    background-color: black;
}