
  .check{
    margin-left: 40%;

  }
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  form h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form select,
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  form input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #555;
  }
  
  form .total {
    margin-top: 20px;
    text-align: center;
  }

 .total h1{
    display: none;
  }
  
  form .total h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  form .total p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  


  .total-container h2{

    margin-left: 40%;
  }