body{
    color: white
}

video {
    width: 40px; 
    height: 40px;
    object-fit: contain; 
    display: block; 
  }

.backGr{
    z-index: -1;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

nav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.9;
}

.card{
    display: flex;
    
    max-width: 250px; 
    max-height: 250px; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0);
    
      
}
.card-body{
    
    position: relative;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 1;
}

.card-text{
    margin-top: -20px;
    position: absolute;
    font-size: 14px;
}


.btn :hover{
    color: burlywood;
}

.item-page{
    margin-left: 25%;
    align-items: center;
    width: 50%;
    background: darkgray;
    
}

.remove-btn{

    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
}

.remove-btn:hover{
    background-color: grey;
}
.remove-btn :active{
  
        box-shadow: 0px 0px 5px rgba(0, 0, 200, 1);
 
}