body{
    color: white
}

video {
    width: 40px; /* adjust this value to your desired size */
    height: 40px;
    object-fit: contain; /* make the video fit inside the container */
    display: block; /* display the video as a block element */
  }

.backGr{
    z-index: -1;
    background-size: cover; /* to make the image cover the entire background */
    background-position: center center; /* to center the image horizontally and vertically */
    background-repeat: no-repeat; /* to prevent the image from repeating */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

nav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.9;
}

.card{
    display: flex;
    
    max-width: 250px; /* adjust to your desired width */
    max-height: 250px; /* adjust to your desired height */
    margin: 0 auto; /* center the image horizontally */
    background-color: rgba(0, 0, 0, 0);
    
      
}
.card-body{
    
    position: relative;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 1;
}

.card-text{
    margin-top: -20px;
    position: absolute;
    font-size: 14px;
}


.btn :hover{
    color: burlywood;
}

